<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Transliteration Keyboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./styles.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Transliteration Keyboard</a>
                </div>
            </div>
        </nav>
        <div class="container" data-ng-app="app" data-ng-controller="transliter">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <p>Translition Language : </p>
                    <select class="form-control" data-ng-model="language" data-ng-change="langChange()">
                        <option data-ng-repeat="lang in languageArr" value="{{lang}}">{{ lang }}</option>
                    </select>
                    <br>
                    <div class="button-group">
                        <button class="btn btn-default" id="copyButton" title="text copied" data-ng-click="copyText()">Copy Text</button>
                        <button class="btn btn-default" id="clearButton" title="text cleared" data-ng-click="clearText()">Clear Text</button>
                    </div>
                    <p>
                        Suggestions: 
                        <ul>
                            <li data-ng-repeat="suggestion in suggestionArr track by $index" data-ng-click="changeWord(suggestion)">{{ suggestion }}</li>
                            <li class="text-danger" data-ng-if="showError">Error in fetching in suggestions</li>
                        </ul>
                    </p>
                </div>

                <div class="col-md-8 col-sm-12">
                    <textarea class="form-control" id="text" rows="10" data-ng-model="text" data-ng-change="getSuggestions()" placeholder="Enter text here and click on suggestions to translite word"></textarea>
                </div>
                
            </div>
            
            
        </div>
            
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        $(document).ready(function(){
            // show tooltip
            $('.btn').tooltip({
                trigger: "click",
                placement: "auto top",
            });
            // hide tooltip
            $(".btn").click(function(){
                var _this = this
                setTimeout(function(){
                    $(_this).tooltip('hide');
                }, 1000);
            });
        })

    </script>
    <script src="controller.js"></script>
</html>